@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

.jumbotron {
  padding-top: 6rem;
  background-color: #3db2ff;
}

#blog {
  background-color: #3db2ff;
}

section {
  padding-top: 5rem;
}
